site_name: t4-devkit
repo_url: https://github.com/tier4/t4-devkit
repo_name: tier4/t4-devkit

nav:
  - Home:
      - t4-devkit: index.md
      - Installation: install.md
  - Dataset Schema:
      - Home: schema/index.md
      - Schema Tables: schema/table.md
      - Sensor Data: schema/data.md
      - Requirements: schema/requirement.md
  - Tutorials:
      - Initialization: tutorials/initialize.md
      - Visualization: tutorials/render.md
      - Schema Customization: tutorials/customize.md
      - Sanity Check: tutorials/sanity.md
  - CLI:
      - Home: cli/index.md
      - t4viz: cli/t4viz.md
      - t4sanity: cli/t4sanity.md
  - API References:
      - t4_devkit.tier4: apis/tier4.md
      - t4_devkit.helper: apis/helper.md
      - t4_devkit.sanity: apis/sanity.md
      - t4_devkit.schema:
          - Home: apis/schema/index.md
          - Schema Names: apis/schema/name.md
          - Schema Tables: apis/schema/table.md
          - Other Items for Tables: apis/schema/other.md
          - Schema Registry: apis/schema/registry.md
          - Serialize Schema: apis/schema/serialize.md
      - t4_devkit.dataclass: apis/dataclass.md
      - t4_devkit.filtering: apis/filtering.md
      - t4_devkit.evaluation:
          - Home: apis/evaluation/index.md
          - Evaluation Tasks: apis/evaluation/task.md
          - Load Dataset: apis/evaluation/dataset.md
          - Matching Boxes: apis/evaluation/matching.md
          - Matching Results: apis/evaluation/result.md
          - Metrics: apis/evaluation/metric.md
      - t4_devkit.viewer: apis/viewer.md
      - t4_devkit.typing: apis/typing.md
      - t4_devkit.common: apis/common.md

theme:
  name: material
  features:
    - navigation.indexes
    - navigation.instant
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.tracking
  palette:
    scheme: default
  logo: assets/logo.png

plugins:
  - search
  - mike:
      version_selector: true
      canonical_version: latest
  - mkdocstrings:
      handlers:
        python:
          paths: ["t4_devkit"]
          inventories: # Cross-references for python and numpy
            - https://arrow.apache.org/docs/objects.inv
            - https://docs.python.org/3/objects.inv
            - https://numpy.org/doc/stable/objects.inv
            - https://ipython.readthedocs.io/en/stable/objects.inv
          options:
            extra:
              # general
              filters: ["!^_"]
              show_bases: false
              show_source: true
              # headings
              heading_level: 2
              parameter_headings: false
              show_root_heading: true
              show_symbol_type_heading: true
              show_symbol_type_toc: true
              # members
              inherited_members: false
              members_order: source # The order of class members
              # docstrings
              docstring_style: google
              docstring_section_style: list # list spacy table
              merge_init_into_class: true
              # signatures
              separate_signature: true
              show_signature_annotations: true
              show_overload: true

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - pymdownx.details
  - admonition

# Some extra styling
extra_css:
  - css/mkdocstrings.css

# https://squidfunk.github.io/mkdocs-material/setup/setting-up-versioning/
extra:
  version:
    provider: mike
    default: latest
